# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
ENV/
env/
.venv/
.env/

# macOS and Linux files
.DS_Store
*.egg-info/

# DuckDB files
*.duckdb
*.duckdb.wal

# Python project files
*.log
*.sqlite

# Poetry and build artifacts
dist/
build/
*.egg-info/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore secrets and environment files
.env
.env.*
